{
  "root": true,
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "no-underscore-dangle": "off",
    "max-len": ["error", { "code": 120 }],
    "import/extensions": "off",
    "import/no-cycle": "off"
  }
}
