name: PR Code Checker

on:
  pull_request:
    branches: [ master ]

jobs:
  lint_and_check_build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          cache: 'yarn'

      - name: Install yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn

      - name: Run linter
        run: yarn lint

      - name: Run builder
        run: yarn build
