name: Release

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    name: release
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install packages
        run: yarn

      - name: Lint
        run: yarn lint

      - name: Lint tests
        run: yarn lint:tests

      - name: Test
        run: yarn test

      - name: Build
        run: yarn build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.VL_BOT_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_NAME: vlprojects-bot
          GIT_AUTHOR_EMAIL: info@vlprojects.pro
          GIT_COMMITTER_NAME: vlprojects-bot
          GIT_COMMITTER_EMAIL: info@vlprojects.pro
        run: npx semantic-release
